  .add-to-cart{
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 18px;
    padding: 10px 47px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
  }

  .add-to-cart:hover{
    background-color: rgb(255, 200, 20);
  }

  .add-to-cart:active{
    opacity: 0.6;
  }
