  button{
    background-color: green;
    border: none;
    color: white;
    font-family: Arial;
    font-size: large;
    padding: 5px 10px;
    cursor: pointer;
    transition: padding 0.8s;
  }

  button:hover{
    padding: 15px 40px;
  }
