    p{
      font-family: Arial;
      margin: 0 0;
      text-align: center;
    }

    .post-title{
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 20px;
    }

    .ad-desc{
      margin-bottom: 20px;
    }

    .learn-more{
      color: blue;
      cursor: pointer;
      transition: text-decoration 0.15s;
    }

    .learn-more:hover{
      text-decoration: underline
    }
